C:\Users\adilz\Documents\Web_dev_Spring_2022\Labs\lab_8\shop_back\api\_pycache_
C:\Users\adilz\Documents\Web_dev_Spring_2022\Labs\lab_8\shop_back\shop_back\_pycache_
C:\Users\adilz\Documents\Web_dev_Spring_2022\Labs\lab_8\shop_back\api\migrations

C:\Users\adilz\Documents\Web_dev_Spring_2022\Labs\lab_9\hh_back\api\migrations
C:\Users\adilz\Documents\Web_dev_Spring_2022\Labs\lab_9\hh_back\api\_pycache_
C:\Users\adilz\Documents\Web_dev_Spring_2022\Labs\lab_9\hh_back\hh_back\_pycache_
