* {
    background-color: #111111;
}
h1, p, input {
    color: #F6F6F6;
}
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #FFCB74;
    border-radius: 5%;
    margin-bottom: 5px;
    color:#111111;
    font-weight: bold;
    border-radius: 10px;

}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#out {
    margin: 1%;
}